* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
}
div {
  position: relative;
  width: 600px;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://static1.bestie.vn/Mlog/ImageContent/202212/hoai-lam-tro-lai-san-khau-doi-mau-toc-cuc-gat-cham-tap-gym-ve-dang-cdd792.jpeg');
  text-align: left;
  margin: 10px 0 10px 0;
  color: white;
}
div h2 {
  text-align: left;
  background-color: white;
}
div > p {
  display: block;
  line-height: 50px;
  text-align: left;
  height: 50px;
  width: 600px;
  background-color: black;
  position: absolute;
  bottom: 0%;
}
