* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 800px;
    height: auto;
    margin: 20px auto;
    border-left: 1px solid rgb(224,226,232);
    border-right: 1px solid rgb(224,226,232);
    border-bottom: 1px solid rgb(224,226,232);
}

.code {
    color: blue;
    background-color: aqua;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(224,226,232);
    border-bottom: 1px solid rgb(224,226,232);
}

.text {
    width: 20px;
    height: 20px;
    background-image: url(https://m.media-amazon.com/images/G/01/Influencer/chevron-up-medium.png);
    background-size: cover;
}

.code1 {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(224,226,232);  
}

.text1 {
    width: 20px;
    height: 20px;
    background-image: url(https://icon-library.com/images/show-hide-icon/show-hide-icon-16.jpg);
    background-size: cover;
}

.code2 {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(224,226,232);
}

.content {
    padding: 20px;
}

.content p span{
color: rgb(193,62,115);
}